@font-face {
  font-family: 'Marck Script';
  src: url('../fonts/Marck_Script/MarckScript-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}
