// ;
// $color-light-green: #9aa8a8;
// $color-pink: #ec6574;
// $color-light-pink: #f5bac6;
// $color-red:#a30e15;

// $color-dark-green: #466a44;
$color-dark-green: #1e3a00;
$color-light-green: #4f5f1d;
$color-beige: #e0d5be;
$color-pink: #c7495c;
$color-light-pink: #e0908d;
$color-red: #a30e15;
